USE [dw_hgrkatuba]
GO
/****** Object:  Table [dbo].[alertes_occupation]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alertes_occupation](
	[id_alerte] [int] IDENTITY(1,1) NOT NULL,
	[service_sk] [int] NULL,
	[date_alerte] [date] NULL,
	[seuil_atteint] [float] NULL,
	[type_alerte] [varchar](20) NULL,
	[date_detection] [datetime] NULL,
	[resolu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_accouchement]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_accouchement](
	[accouchement_sk] [int] NOT NULL,
	[code_accouchement] [nvarchar](10) NOT NULL,
	[type_accouchement] [nvarchar](30) NULL,
	[duree_travail] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[accouchement_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_admission]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_admission](
	[admission_sk] [int] NOT NULL,
	[code_admission] [nvarchar](10) NOT NULL,
	[type_admission] [nvarchar](20) NULL,
	[origine_admission] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[admission_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_complication]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_complication](
	[complication_sk] [int] NOT NULL,
	[code_complication] [nvarchar](10) NOT NULL,
	[type_complication] [nvarchar](50) NULL,
	[niveau_gravite] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[complication_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_decision]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_decision](
	[decision_sk] [int] NOT NULL,
	[code_decision] [nvarchar](10) NOT NULL,
	[type_decision] [nvarchar](30) NULL,
	[service_destination] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[decision_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_geographie]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_geographie](
	[geographie_sk] [int] NOT NULL,
	[id_localisation] [nvarchar](20) NOT NULL,
	[quartier] [nvarchar](50) NULL,
	[commune] [nvarchar](50) NULL,
	[ville] [nvarchar](50) NULL,
	[zone_sante] [nvarchar](50) NULL,
	[distance_hopital] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[geographie_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_gravite]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_gravite](
	[gravite_sk] [int] NOT NULL,
	[code_gravite] [nvarchar](10) NOT NULL,
	[niveau_urgence] [int] NULL,
	[categorie] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[gravite_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_grossesse]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_grossesse](
	[grossesse_sk] [int] NOT NULL,
	[code_grossesse] [nvarchar](20) NOT NULL,
	[age_gestationnel] [int] NULL,
	[nb_grossesses] [int] NULL,
	[antecedents_obstetricaux] [nvarchar](max) NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[est_actif] [bit] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[grossesse_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_issue]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_issue](
	[issue_sk] [int] NOT NULL,
	[code_issue] [nvarchar](10) NOT NULL,
	[type_issue] [nvarchar](30) NULL,
	[categorie_issue] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_lit]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_lit](
	[lit_sk] [int] NOT NULL,
	[numero_lit] [nvarchar](10) NOT NULL,
	[numero_chambre] [nvarchar](10) NULL,
	[type_chambre] [nvarchar](20) NULL,
	[service_sk] [int] NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[est_actif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[lit_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_medecin]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_medecin](
	[medecin_sk] [int] NOT NULL,
	[code_medecin] [varchar](100) NULL,
	[specialite] [nvarchar](50) NULL,
	[service_sk] [int] NULL,
	[grade] [nvarchar](30) NULL,
	[annees_experience] [int] NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[medecin_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_motif]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_motif](
	[motif_sk] [int] NOT NULL,
	[code_motif] [nvarchar](10) NOT NULL,
	[libelle_motif] [nvarchar](100) NULL,
	[categorie_motif] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[motif_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_nouveaune]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_nouveaune](
	[bebe_sk] [int] NOT NULL,
	[code_bebe] [nvarchar](20) NOT NULL,
	[sexe_bebe] [char](1) NULL,
	[poids_naissance] [decimal](10, 2) NULL,
	[taille_naissance] [decimal](10, 2) NULL,
	[score_apgar] [int] NULL,
	[statut_bebe] [nvarchar](30) NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[est_actif] [bit] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bebe_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_pathologie]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_pathologie](
	[pathologie_sk] [int] NOT NULL,
	[code_cim10] [nvarchar](10) NOT NULL,
	[libelle] [nvarchar](200) NULL,
	[categorie] [nvarchar](50) NULL,
	[niveau_gravite] [nvarchar](20) NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pathologie_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_patient]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_patient](
	[patient_sk] [int] NOT NULL,
	[id_patient_anonyme] [varchar](128) NOT NULL,
	[sexe] [char](1) NULL,
	[age] [int] NULL,
	[tranche_age] [nvarchar](20) NULL,
	[poids] [decimal](10, 2) NULL,
	[taille] [decimal](10, 2) NULL,
	[statut_nutritionnel] [nvarchar](50) NULL,
	[antecedents_medicaux] [nvarchar](max) NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[est_actif] [bit] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_service]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_service](
	[service_sk] [int] NOT NULL,
	[id_service] [nvarchar](20) NOT NULL,
	[nom_service] [nvarchar](50) NULL,
	[type_service] [nvarchar](20) NULL,
	[capacite_lits] [int] NULL,
	[date_debut_validite] [date] NOT NULL,
	[date_fin_validite] [date] NULL,
	[est_actif] [bit] NULL,
	[version_ligne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_temps]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_temps](
	[temps_sk] [int] NOT NULL,
	[date_complete] [date] NOT NULL,
	[jour] [int] NULL,
	[mois] [int] NULL,
	[trimestre] [int] NULL,
	[annee] [int] NULL,
	[semaine] [int] NULL,
	[jour_semaine] [nvarchar](20) NULL,
	[type_jour] [nvarchar](20) NULL,
	[heure] [int] NULL,
	[periode_journee] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[temps_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[date_complete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_transport]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_transport](
	[transport_sk] [int] NOT NULL,
	[code_transport] [varchar](100) NOT NULL,
	[mode_transport] [nvarchar](30) NULL,
	[est_reference] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[transport_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faits_accueil]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faits_accueil](
	[id_fait] [int] IDENTITY(1,1) NOT NULL,
	[temps_sk] [int] NOT NULL,
	[patient_sk] [int] NOT NULL,
	[geographie_sk] [int] NULL,
	[service_sk] [int] NULL,
	[paiement_sk] [int] NULL,
	[contexte_sk] [int] NULL,
	[gravite_sk] [int] NULL,
	[transport_sk] [int] NULL,
	[motif_sk] [int] NULL,
	[decision_sk] [int] NULL,
	[nb_arrivees] [int] NULL,
	[temps_attente_tri] [decimal](10, 2) NULL,
	[temps_attente_orientation] [decimal](10, 2) NULL,
	[nb_non_pris_en_charge] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faits_consultation]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faits_consultation](
	[id_fait] [int] IDENTITY(1,1) NOT NULL,
	[temps_sk] [int] NOT NULL,
	[patient_sk] [int] NOT NULL,
	[service_sk] [int] NULL,
	[pathologie_sk] [int] NULL,
	[paiement_sk] [int] NULL,
	[contexte_sk] [int] NULL,
	[medecin_sk] [int] NULL,
	[gravite_sk] [int] NULL,
	[decision_sk] [int] NULL,
	[nb_consultations] [int] NULL,
	[duree_consultation] [decimal](10, 2) NULL,
	[nb_medicaments] [int] NULL,
	[nb_examens] [int] NULL,
	[temps_attente] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faits_hospitalisation]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faits_hospitalisation](
	[id_fait] [int] IDENTITY(1,1) NOT NULL,
	[temps_sk] [int] NOT NULL,
	[patient_sk] [int] NOT NULL,
	[service_sk] [int] NULL,
	[pathologie_sk] [int] NULL,
	[geographie_sk] [int] NULL,
	[contexte_sk] [int] NULL,
	[lit_sk] [int] NULL,
	[admission_sk] [int] NULL,
	[issue_sk] [int] NULL,
	[nb_hospitalisations] [int] NULL,
	[duree_sejour] [decimal](10, 2) NULL,
	[nb_lits_occupes] [int] NULL,
	[nb_deces] [int] NULL,
	[nb_sorties] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faits_maternite]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faits_maternite](
	[id_fait] [int] IDENTITY(1,1) NOT NULL,
	[temps_sk] [int] NOT NULL,
	[patient_sk] [int] NOT NULL,
	[service_sk] [int] NULL,
	[geographie_sk] [int] NULL,
	[contexte_sk] [int] NULL,
	[accouchement_sk] [int] NULL,
	[grossesse_sk] [int] NULL,
	[bebe_sk] [int] NULL,
	[complication_sk] [int] NULL,
	[pathologie_sk] [int] NULL,
	[nb_accouchements] [int] NULL,
	[nb_cesariennes] [int] NULL,
	[nb_complications] [int] NULL,
	[poids_naissance] [decimal](10, 2) NULL,
	[nb_deces_maternels] [int] NULL,
	[nb_deces_neonatals] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[previsions_occupation]    Script Date: 21/07/2026 22:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[previsions_occupation](
	[id_prevision] [int] IDENTITY(1,1) NOT NULL,
	[date_prevision] [date] NULL,
	[service_sk] [int] NULL,
	[occupation_predite] [float] NULL,
	[nb_lits_occupes_predits] [int] NULL,
	[intervalle_inf] [float] NULL,
	[intervalle_sup] [float] NULL,
	[modele] [varchar](50) NULL,
	[date_generation] [datetime] NULL,
	[horizon_jours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prevision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alertes_occupation] ADD  DEFAULT (getdate()) FOR [date_detection]
GO
ALTER TABLE [dbo].[alertes_occupation] ADD  DEFAULT ((0)) FOR [resolu]
GO
ALTER TABLE [dbo].[dim_grossesse] ADD  DEFAULT ((1)) FOR [est_actif]
GO
ALTER TABLE [dbo].[dim_grossesse] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[dim_lit] ADD  DEFAULT ((1)) FOR [est_actif]
GO
ALTER TABLE [dbo].[dim_medecin] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[dim_nouveaune] ADD  DEFAULT ((1)) FOR [est_actif]
GO
ALTER TABLE [dbo].[dim_nouveaune] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[dim_pathologie] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[dim_patient] ADD  DEFAULT ((1)) FOR [est_actif]
GO
ALTER TABLE [dbo].[dim_patient] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[dim_service] ADD  DEFAULT ((1)) FOR [est_actif]
GO
ALTER TABLE [dbo].[dim_service] ADD  DEFAULT ((1)) FOR [version_ligne]
GO
ALTER TABLE [dbo].[faits_accueil] ADD  DEFAULT ((1)) FOR [nb_arrivees]
GO
ALTER TABLE [dbo].[faits_accueil] ADD  DEFAULT ((0)) FOR [nb_non_pris_en_charge]
GO
ALTER TABLE [dbo].[faits_consultation] ADD  DEFAULT ((1)) FOR [nb_consultations]
GO
ALTER TABLE [dbo].[faits_hospitalisation] ADD  DEFAULT ((1)) FOR [nb_hospitalisations]
GO
ALTER TABLE [dbo].[faits_hospitalisation] ADD  DEFAULT ((1)) FOR [nb_lits_occupes]
GO
ALTER TABLE [dbo].[faits_hospitalisation] ADD  DEFAULT ((0)) FOR [nb_deces]
GO
ALTER TABLE [dbo].[faits_hospitalisation] ADD  DEFAULT ((1)) FOR [nb_sorties]
GO
ALTER TABLE [dbo].[faits_maternite] ADD  DEFAULT ((1)) FOR [nb_accouchements]
GO
ALTER TABLE [dbo].[faits_maternite] ADD  DEFAULT ((0)) FOR [nb_cesariennes]
GO
ALTER TABLE [dbo].[faits_maternite] ADD  DEFAULT ((0)) FOR [nb_complications]
GO
ALTER TABLE [dbo].[faits_maternite] ADD  DEFAULT ((0)) FOR [nb_deces_maternels]
GO
ALTER TABLE [dbo].[faits_maternite] ADD  DEFAULT ((0)) FOR [nb_deces_neonatals]
GO
ALTER TABLE [dbo].[previsions_occupation] ADD  DEFAULT (getdate()) FOR [date_generation]
GO
ALTER TABLE [dbo].[alertes_occupation]  WITH CHECK ADD  CONSTRAINT [fk_alerte_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[alertes_occupation] CHECK CONSTRAINT [fk_alerte_service]
GO
ALTER TABLE [dbo].[dim_lit]  WITH CHECK ADD  CONSTRAINT [fk_lit_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[dim_lit] CHECK CONSTRAINT [fk_lit_service]
GO
ALTER TABLE [dbo].[dim_medecin]  WITH CHECK ADD  CONSTRAINT [fk_medecin_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[dim_medecin] CHECK CONSTRAINT [fk_medecin_service]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_decision] FOREIGN KEY([decision_sk])
REFERENCES [dbo].[dim_decision] ([decision_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_decision]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_geo] FOREIGN KEY([geographie_sk])
REFERENCES [dbo].[dim_geographie] ([geographie_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_geo]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_gravite] FOREIGN KEY([gravite_sk])
REFERENCES [dbo].[dim_gravite] ([gravite_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_gravite]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_motif] FOREIGN KEY([motif_sk])
REFERENCES [dbo].[dim_motif] ([motif_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_motif]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_patient] FOREIGN KEY([patient_sk])
REFERENCES [dbo].[dim_patient] ([patient_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_patient]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_service]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_temps] FOREIGN KEY([temps_sk])
REFERENCES [dbo].[dim_temps] ([temps_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_temps]
GO
ALTER TABLE [dbo].[faits_accueil]  WITH CHECK ADD  CONSTRAINT [fk_acc_transport] FOREIGN KEY([transport_sk])
REFERENCES [dbo].[dim_transport] ([transport_sk])
GO
ALTER TABLE [dbo].[faits_accueil] CHECK CONSTRAINT [fk_acc_transport]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_decision] FOREIGN KEY([decision_sk])
REFERENCES [dbo].[dim_decision] ([decision_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_decision]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_gravite] FOREIGN KEY([gravite_sk])
REFERENCES [dbo].[dim_gravite] ([gravite_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_gravite]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_medecin] FOREIGN KEY([medecin_sk])
REFERENCES [dbo].[dim_medecin] ([medecin_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_medecin]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_patho] FOREIGN KEY([pathologie_sk])
REFERENCES [dbo].[dim_pathologie] ([pathologie_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_patho]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_patient] FOREIGN KEY([patient_sk])
REFERENCES [dbo].[dim_patient] ([patient_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_patient]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_service]
GO
ALTER TABLE [dbo].[faits_consultation]  WITH CHECK ADD  CONSTRAINT [fk_cons_temps] FOREIGN KEY([temps_sk])
REFERENCES [dbo].[dim_temps] ([temps_sk])
GO
ALTER TABLE [dbo].[faits_consultation] CHECK CONSTRAINT [fk_cons_temps]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_admission] FOREIGN KEY([admission_sk])
REFERENCES [dbo].[dim_admission] ([admission_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_admission]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_geo] FOREIGN KEY([geographie_sk])
REFERENCES [dbo].[dim_geographie] ([geographie_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_geo]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_issue] FOREIGN KEY([issue_sk])
REFERENCES [dbo].[dim_issue] ([issue_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_issue]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_lit] FOREIGN KEY([lit_sk])
REFERENCES [dbo].[dim_lit] ([lit_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_lit]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_patho] FOREIGN KEY([pathologie_sk])
REFERENCES [dbo].[dim_pathologie] ([pathologie_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_patho]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_patient] FOREIGN KEY([patient_sk])
REFERENCES [dbo].[dim_patient] ([patient_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_patient]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_service]
GO
ALTER TABLE [dbo].[faits_hospitalisation]  WITH CHECK ADD  CONSTRAINT [fk_hosp_temps] FOREIGN KEY([temps_sk])
REFERENCES [dbo].[dim_temps] ([temps_sk])
GO
ALTER TABLE [dbo].[faits_hospitalisation] CHECK CONSTRAINT [fk_hosp_temps]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_accouchement] FOREIGN KEY([accouchement_sk])
REFERENCES [dbo].[dim_accouchement] ([accouchement_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_accouchement]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_bebe] FOREIGN KEY([bebe_sk])
REFERENCES [dbo].[dim_nouveaune] ([bebe_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_bebe]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_complication] FOREIGN KEY([complication_sk])
REFERENCES [dbo].[dim_complication] ([complication_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_complication]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_geo] FOREIGN KEY([geographie_sk])
REFERENCES [dbo].[dim_geographie] ([geographie_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_geo]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_grossesse] FOREIGN KEY([grossesse_sk])
REFERENCES [dbo].[dim_grossesse] ([grossesse_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_grossesse]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_patho] FOREIGN KEY([pathologie_sk])
REFERENCES [dbo].[dim_pathologie] ([pathologie_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_patho]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_patient] FOREIGN KEY([patient_sk])
REFERENCES [dbo].[dim_patient] ([patient_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_patient]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_service]
GO
ALTER TABLE [dbo].[faits_maternite]  WITH CHECK ADD  CONSTRAINT [fk_mat_temps] FOREIGN KEY([temps_sk])
REFERENCES [dbo].[dim_temps] ([temps_sk])
GO
ALTER TABLE [dbo].[faits_maternite] CHECK CONSTRAINT [fk_mat_temps]
GO
ALTER TABLE [dbo].[previsions_occupation]  WITH CHECK ADD  CONSTRAINT [fk_prev_service] FOREIGN KEY([service_sk])
REFERENCES [dbo].[dim_service] ([service_sk])
GO
ALTER TABLE [dbo].[previsions_occupation] CHECK CONSTRAINT [fk_prev_service]
GO
ALTER TABLE [dbo].[dim_gravite]  WITH CHECK ADD CHECK  (([niveau_urgence]>=(1) AND [niveau_urgence]<=(5)))
GO
ALTER TABLE [dbo].[dim_nouveaune]  WITH CHECK ADD CHECK  (([sexe_bebe]='F' OR [sexe_bebe]='M'))
GO
ALTER TABLE [dbo].[dim_patient]  WITH CHECK ADD CHECK  (([sexe]='F' OR [sexe]='M'))
GO
